@model ClientSecretListViewModel

<h2>Secrets</h2>

<a asp-action="CreateSecret" asp-route-clientId="@Model.ClientId">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Expiration</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var secret in Model.Secrets)
        {
            <tr>
                <td>@secret.Type</td>
                <td>@secret.Value</td>
                <td>@secret.Expiration</td>
                <td>@secret.Description</td>
                <td>
                    <a asp-action="DeleteSecret" asp-route-clientId="@Model.ClientId" asp-route-id="@secret.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>